<th:block th:fragment="head">
    <link th:href="@{/style.css}" rel="stylesheet" />
    <title th:text="${title}" />
    <!-- th:each="element: ${elements}" -->
</th:block>

<th:block th:fragment="head_error">
    <link th:href="@{/style.css}" rel="stylesheet" />
    <title th:text="'Ошибка - ' + ${status}" />
    <!-- th:each="element: ${elements}" -->
</th:block>

<th:block th:fragment="top_menu">
    <div id="header_panel">
        <div id="header_section">
            <div id="title_section">Справочник</div>
            <div id="tagline">по расходникам принтеров...</div>
        </div>
    </div> <!-- end of haeder -->
    <div id="menu_panel">
        <div id="menu_section">
            <ul>
                <li><a class="knopkaglav" href="/">Главная</a></li>
                <li><a class="knopkaglav" href="/about-printers">О принтерах</a></li>
                <li><a class="knopkaglav" href="/about-cartridges">О картриджах</a></li>
                <li><a class="knopkaglav" href="/feedback">Обратная связь</a></li>
                <li><a class="knopkaglav last" href="/account" >Личный кабинет</a></li>
            </ul>
        </div>
    </div> <!-- end of menu -->
</th:block>

<th:block th:fragment="side_menu">
    <div class="column_one_section">
        <h1>Расходники оригинальные</h1>
        <ul>
            <li><a class="btn" href="/cartridges/canon">Расходники Canon </a></li>
            <li><a class="btn" href="/cartridges/epson">Расходники Epson</a></li>
            <li><a class="btn" href="/cartridges/lexmark">Расходники Lexmark</a></li>
            <li><a class="btn" href="/cartridges/hp">Расходники HP</a></li>
            <li><a class="btn" href="/cartridges/samsung">Расходники Samsung</a></li>
            <li><a class="btn" href="/cartridges/konica_minolta">Расходники Konica Minolta</a></li>
            <li><a class="btn" href="/cartridges/ricoh">Расходники Ricoh</a></li>
            <li><a class="btn" href="/cartridges/xerox">Расходники Xerox </a></li>
            <li><a class="btn" href="/cartridges/oki">Расходники OKI</a></li>
            <li><a class="btn" href="/cartridges/brother">Расходники Brother</a></li>
            <li><a class="btn" href="/cartridges/sharp">Расходники Sharp</a></li>
            <li><a class="btn" href="/cartridges/dymo">Расходники Dymo</a></li>
            <li><a class="btn" href="/cartridges/philips">Расходники Philips</a></li>
            <li><a class="btn" href="/cartridges/pantum">Расходники Pantum</a></li>
            <li><a class="btn" href="/cartridges/toshiba">Расходники Toshiba</a></li>
            <li><a class="btn" href="/cartridges/panasonic">Расходники Panasonic</a></li>
            <li><a class="btn" href="/cartridges/sony">Расходники Sony</a></li>
        </ul>
    </div>
    <div class="cleaner_with_divider">&nbsp;</div>
    <div class="column_one_section">
        <h1>Совместимые расходники</h1>
        <ul>
            <li><a class="btn" href="/cartridges/compatible/laser">Лазерные картриджи</a></li>
            <li><a class="btn" href="/cartridges/compatible/matrix">Матричные картриджи</a></li>
            <li><a class="btn" href="/cartridges/compatible/jet">Струйные картриджи</a></li>
            <li><a class="btn" href="/cartridges/compatible/stickers">Ленты для печати наклеек</a></li>
            <li><a class="btn" href="/cartridges/compatible/fax">Пленка для факса</a></li>
        </ul>
    </div>
    <div class="cleaner_with_divider">&nbsp;</div>
    <div class="column_one_section">
        <h1>Наборы заправочные</h1>
        <ul>
            <li><a class="btn" href="/cartridges/refueling/laser">Лазерные наборы</a></li>
            <li><a class="btn" href="/cartridges/refueling/jet">Струйные наборы</a></li>
        </ul>
    </div>
</th:block>