<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head th:insert="~{include/header :: head}">
    </head>
    <body>
        <header th:insert="~{include/header :: top_menu}"></header>
        <div id="content">
            <div id="content_column_one" th:insert="~{include/header :: side_menu}"></div>

            <div id="content_column_two">
                <div class="column_two_section post_div">
                    <h1> О картриджах </h1>
                    <p>Картридж для принтера – это основная деталь, без которой ни одно периферийное устройство не будет функционировать (кроме МФУ в режиме сканера). Ведь основное предназначение расходника заключается в хранении красящего вещества и переносе его на бумажный лист. Внешне это изделие напоминает пластмассовую коробку, состоящую из множества технически сложных деталей и контейнера с краской (тонером). Существует несколько видов расходников, которые различаются между собой не только размерами и внешним видом, но и технологией изготовления, характеристиками и внутренними компонентами.


                    </p><h2>Какие есть виды картриджей для принтера</h2>


                    <img style="float: right; margin-left: 25px; margin-right: 25px;" th:src="@{/images/cartridge.jpg}">
                    <p>На сегодняшний день выделяют три типа расходников к оргтехнике:
                    </p><ul>
                    <li>Матричные. Активно использовались на матричных принтерах в конце прошлого и в начале этого века. Имеют несложную конструкцию, которая состоит из корпуса, специального протяжного механизма, ленты и валиков. Единственные изделия, где в качестве красящего вещества применяется пропитанная чернилами лента. Нынче производство матричной техники занимает небольшой процент рынка, так как эта продукция больше подходит для использования в банках, магазинах (кассовые аппараты) и государственных учреждениях, чем для эксплуатации частными пользователями.
                    </li><li>Струйные. Заправляются монохромными или цветными чернилами. Бывают одноцветными или многоцветными. В современном мире являются одними из самых распространенных. Используются, как правило, для создания высококачественных цветных отпечатков и фотографий (особенно на МФУ). Внешне небольшие, состоят из контейнера с краской, печатающей головки, крышки и контактных пластин.
                </li><li>Лазерные. Как и струйные, входят в число самых популярных. Однако лазерные устройства в основном используются для массовой черно-белой печати документов и прочих текстовых материалов. Поэтому они применяются в офисах, учебных заведениях и в различных копировальных центрах. Стоит отметить, что эти изделия самые сложные в изготовлении, так как состоят из множества деталей и механизмов – фотобарабана, нескольких различных лезвий и валов, уплотнителей и бункера для тонера.
                </li></ul><p></p>

                    <p>Что касается дополнительной заправки, то ее можно осуществить для любого вышеуказанного изделия. Тем не менее, технология заправки для каждого картриджа значительно отличается. Поэтому самостоятельно лучше этого не делать, а обратиться к соответствующему мастеру. </p>

                    <h2>И еще несколько видов</h2>

                    <p>Кроме того, по типу производства эти расходники делят на:
                    </p><ul>
                    <li>оригинальные — те, которые выпущены производителем самой печатной техники под определенные ее модели, они характеризуются не только качеством, но и очень высокой стоимостью;
                    </li><li>совместимые — те, которые являются полными аналогами оригинальных по качеству и ресурсу, только выпускаются сторонними компаниями и продаются по доступной цене;
                </li><li>восстановленные — оригинальные или совместимые картриджи, которые уже были использованы, после чего прошли ремонт и повторную заправку, по стоимости дешевле новых оригинальных, но дороже совместимых.
                </li><li>перезаправляемые (ПЗК) — это один из видов совместимых картриджей, который, в отличие от остальных, является многоразовым и может перезаправляться.
                </li></ul><p></p>
                </div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>
        <footer th:insert="~{include/footer :: footer}"></footer>
    </body>
</html>
