<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head th:insert="~{/include/header :: head}">
    </head>
    <body>
        <header th:insert="~{/include/header :: top_menu}"></header>
        <div id="content">
            <div id="content_column_one" th:insert="~{/include/header :: side_menu}"></div>

            <div id="content_column_two">
                <div class="column_two_section post_div">
                    <h1> О принтерах </h1>
                    <h2>Основные типы принтеров, их классификация и назначение</h2>

                    <p>Принтер — это устройство, назначение которого переносить текст или изображения на бумагу и прочие твердые носители. Это простое определение, но, чтобы понять, как работает принтер, следует прочитать эту статью. Здесь описано, какие бывают виды печатающей техники, устройство и назначение прибора. А также рассмотрим их типы и классификацию.</p>

                    <p>Принтеры производят те же фирмы, что делают телевизоры, компьютеры и телефоны. Но важнее не бренд, а технология устройства. У каждой есть существенные отличия в плане заправки, краски, поставленных целей. Согласно этому принципу существует определенная классификация:
                    </p><ul>
                    <li> Матричный.
                    </li><li> Струйный.
                    </li><li> Лазерный.
                    </li><li> МФУ.
                    </li><li> Сублимационный.
                    </li><li> Другие.
                    </li></ul><p></p>

                    <h2>Матричный</h2>

                    <p>Считается самой старой моделью. Изобретен японскими учеными еще в семидесятые годы прошлого века. Устройство немного похоже на печатную машину. Но у матричного аппарата количество головок может превышать 20 штук. Они делают удары по красящей ленте, а последняя печатает текст на бумаге. Диаметр иголки влияет на диагональ точек, которые создают символ. Для матричных приборов используется специальная бумага. Обычно рулонная или фальцованная.</p>
                    <img th:src="@{/images/matrix.webp}">
                    <p>Конструкция матичного прибора устарела, но его выпускают по сей день. Причина в важной характеристике – надпись, которую сделал этот принтер невозможно исправить или незаметно изменить. Матричные используются в банках, кассах и других специфических заведениях.</p>

                    <h2>Струйные</h2>
                    <p>Работает методом вытекания чернил через сопла. Дюзы маленькие и расположены вдоль поверхности картриджа или головки. Последний двигается по листу бумаги. И в матричной, и в струйной конструкции изображение наносится путем создания точек. Но в этом случае применяется матрица, которая печатает при помощи жидкой краски. Иногда в картридже присутствует печатная головка посредственно на нем.</p>

                    <p>Человек, который использует прибор, должен следить, чтобы сопла не забивались пылью или мусором, а чернила не высыхали. Поэтому печатать нужно регулярно. В картридже может быть сразу несколько отсеков с разной краской, поэтому пользователь может делать цветные изображения. Сейчас очень популярной считается система, которая подает чернила непрерывно. Печать становится качественнее, а цена на технику доступнее.</p>

                    <img th:src="@{/images/jet.webp}">
                    <p>Одной заправки картриджа хватит примерно на 500 страниц текста на бумаге формата А4. Струйные принтеры чаще используют дома.</p>


                    <p>По способу нанесения краски на листы «струйники» делятся на:
                    </p><ol>
                    <li>Пьезоэлектрические. Этот вариант позволяет добиться высокого качества изображения за счет меньшего размера капли. Такую технологию используют японские фирмы Epson и Brother.
                    </li><li>Термоструйные. Такой способ требует постоянного нагрева дюз для «выдавливания» красителя из картриджа. Потому такие расходные материалы быстро, в сравнении с первым вариантом, выходят из строя. Чаще такими пользуются инженеры компаний Xerox, Canon, Epson и HP.
                </li></ol><p></p>
                    <p>Струйные тоже имеют определенную классификацию. В зависимости от основы краски, она может быть:
                    </p><ul>
                    <li>Водной. Применяется в бюджетных или офисных принтерах. Встречается чаще всего.
                    </li><li>Масляной. Используется для промышленной маркировки.
                </li><li>Пигментной. Необходима, если нужна качественная картинка, к примеру, фото.
                </li><li>Сольвентной. Применяют при распечатке рекламных листовок. Эта краска устойчива к жидкости.
                </li><li>Термотрансферной. Позволяет наносить изображение на ткань.
                </li><li>Спиртовой. Используется редко, поскольку быстро сохнет на головке.
                </li></ul><p></p>
                    <p>А еще в зависимости от назначения струйные могут быть:
                    </p><ul>
                    <li>Офисными. Применяются в офисах, печатают на формате А4.
                    </li><li>Широкоформатными. Для печати рекламных стендов.
                </li><li>Интерьерными. Для плакатов и предметов декорации.
                </li><li>Маркировочными. Для маркировки.
                </li><li>Фотопринтеры. Печатают фото.
                </li><li>Сувенирными. Для нанесения рисунков на предметах разной формы. Это могут быть телефоны, диски, зажигалки и тому подобные вещи.
                </li><li>Маникюрными. Наносят узоры на ногти.
                </li></ul><p></p>

                    <h2>С СНПЧ</h2>

                    <p>В основе этого устройства лежит подача краски к картриджу через трубки из банок с красителем. Это позволяет не покупать дорогие детали и повысить качество печати. Преимущество в том, что теперь не придется относить картридж специалисту для заправки. Вы можете менять краску самостоятельно. Современные модели продаются с уже встроенной внутрь системой, а потому нужно лишь покупать краску. В принтерах, где такой системы нет, ее можно установить самостоятельно.</p>
                    <img th:src="@{/images/refuel.webp}">

                    <h2>Лазерный</h2>
                    <p>Работает методом фотокопирования. Этот вид печати разработан еще до начала Второй мировой войны. Основой считается фотобарабан, удерживающий электрические заряды. Луч лазера, попавший на эту деталь, снимает заряд с определенного перечня точек. А на покрытие барабана переносится тонер – чернильный порошок. Он перемещается на бумагу, что позволяет создавать изображение, и прилипает к бумаге под воздействием высокой температуры и остается на ней.</p>
                    <img th:src="@{/images/laser.webp}">
                    <p>К плюсам этой технологии можно отнести:
                    </p><ul>
                    <li>Минимальный уровень шума при работе.
                    </li><li>Относительно невысокая стоимость картриджей, порошка, запчастей.
                </li><li>Надежная и неприхотливая работа.
                </li><li>Возможность печати не только на поверхности бумаги. А также, к примеру, пленке, картоне, текстиле и других материалах.
                </li></ul><p></p>
                    <p>Но лазерные цветные модели по качеству работы по-прежнему уступают струйным собратьям. А также такая техника стоит немало и достаточно дорога в обслуживании. Заправка новыми расходными материалами и ремонт обходятся недешево.</p>
                </div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>
        <footer th:insert="~{/include/footer :: footer}"></footer>
    </body>
</html>
