<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:insert="~{/include/header :: head}">
</head>
<body>
<header th:insert="~{/include/header :: top_menu}"></header>
<div id="content">
    <div id="content_column_one" th:insert="~{/include/header :: side_menu}"></div>

    <div id="content_column_two">
        <div class="column_two_section post_div">
            <h1>Главная</h1>
            <form method="get">
                Поиск по сайту: <input name="q" type="text" th:value="${query}" required="" placeholder="Модель картриджа / принтера"><br>

                Искать по свойствам расходника:
                    <th:block th:switch="${props}">
                        <input type="checkbox" name="props" th:case="'Y'" value="Y" checked="checked" />
                        <input type="checkbox" name="props" th:case="*" value="Y" />
                    </th:block>
                <input class="btn" style="margin: 20px 0 0 0;" type="submit">
            </form>
        </div>

        <div th:if="${query} and ${#lists.isEmpty(cartridges)}" class="column_two_section post_div">
            По Вашему запросу <b th:text="${query}" /> ничего не найдено.
        </div>

        <th:block th:insert="~{/include/cartridges :: list}">
            Cartridges list...
        </th:block>

    </div>
    <div class="cleaner">&nbsp;</div>
</div>
<footer th:insert="~{/include/footer :: footer}"></footer>
</body>
</html>