<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:insert="~{/include/header :: head}" />

<body>
<header th:insert="~{/include/header :: top_menu}"></header>
<div id="content">
    <div id="content_column_one" th:insert="~{/include/header :: side_menu}"></div>

    <div id="content_column_two">
        <div class="column_two_section post_div">
            <h1> Ваш профиль: </h1>
            <h2>testuser </h2>
            <h2>Ваш уровень доступа: </h2>
            <a class="btn panel" href="create-post"> Добавить новую запись </a>
            <a class="btn panel" href="delete-post"> Посмотреть или удалить запись </a>
            <a class="btn panel" href="manage"> Назначить модератора/администратора </a>
            <a class="btn panel" href="site-copy"> Резервная копия сайта </a>
            <a class="btn panel" href="info"> Справка </a>
            <form action="exit.php">
                <button class="btn"> Выйти из уч. записи </button>
            </form>
        </div>
    </div>

    <div class="cleaner">&nbsp;</div>
</div>
<footer th:insert="~{/include/footer :: footer}"></footer>
</body>
</html>